.Rproj.user
.Rhistory
.RData
.Ruserdata

/.quarto/

*.csv
*.tsv.gz
*.csv.zip


MP02.Aachal_cache
MP02.Aachal_files
MP02_cache
test/
data/

FRED_apikey
API_key
Alpha_Vantage_API_key
FRED_API_key


.DS_Store

